$primary-color: rgb(90, 89, 28);
$secondary-color: rgb(224, 124, 31);
$terciary-color: rgb(226, 226, 154);
$quaternion-color:orange;
$primary-text-color: rgb(63, 38, 1);
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1,5em;


body {
    background-color: #{$primary-color};
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    
}

nav {
    /*background-color: #{$primary-color};*/
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;
    p{
        font-size: 1.5;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 15px;
        button{
            background: none;
            border-style: none;
        }
    }
}

main {
    background-color: $primary-color;
}

footer {
    $background: rgb(255, 165, 0); /*variable local del footer*/
    $background:$quaternion-color;
    background-color: $background;
    width: 100%;
    height: 250px;
}

article{
    width: auto;
    color:$primary-text-color;
    display: flex;
    justify-content: space-around;
    
    .info-section{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;    
    }
    
    
    h1{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }
    p{
        font-size: $paragraph-size;
    }
    button{
        width: 12vw;
        padding: 20px;
        background-color:$quaternion-color;
        background: none;
        border-style: none;
        border-radius: 35px;
        color:white
        font-size 1em;
    }
    img{
        width:25vw;
        border-radius: 19px;
    }
    
    .image-section{
        width: 50%;
        background-color: rgb(119, 109, 64);
        //img{
        //    width: 100%;
        //}
    }

   
}