body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

aside#der {
    width: 200px;
    height: 453px;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
}

aside#der h1 {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(100, 0, 255, 1);
    color: white;
    margin: 0;
}

aside#der input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#chat {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(100, 0, 255, 1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
